<!doctype html>
<html>

<head>
    <meta charset="utf8">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/estilos.css" rel="stylesheet">
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
</head>
<div class="container">
    <div id="cabecera">
        <div id="title">
            <div id="logo"><img src="/public/imgs/tarea_icono.png" width="100px" /></div>
            <div id="textotitle">Tareas pendientes</div>
        </div>
        <a class="btn btn-primary" href="/tareas">Listar tareas</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" href="/nueva_tarea">Nueva tarea</a>
    </div>